<div class="row card">
        <p class="title">Création offre</p>
        <p>
        </p>
        <p>
            <label>Nom de l'Offre </label>
            <input class="input" type='text' [(ngModel)] = "nomOffre">
        </p>
        <p>
            <label>validite</label>
            <input  class="input" type='text' [(ngModel)] = "validite">
            <select class="input" name='uniteTemps' [(ngModel)] = "uniteTemps">
                <option *ngFor = "let t of uniTemps" [ngValue]="t">
                    {{t}}
                </option>
            </select>
        </p>
        <p>
            <label>Cout(Ar)</label>
            <input  class="input" type='number'  [(ngModel)] = "cout" minimum=1>
        </p>
        <br>VOIX
        <p>
            <label>Quantité Intra-opérateur</label>
            <input  class="input" type='number' [(ngModel)] = "qteVoixInt">
            <select class="input" name='uniVoix' [(ngModel)] = "unitVI">
                <option *ngFor = "let t of uniVoix" [ngValue]="t">
                    {{t}}
                </option>
            </select>
        </p>
        <p>
            <label>Quantité Extra-opérateur</label>
            <input  class="input" type='number' [(ngModel)] = "qteVoixExt">
            <select class="input" name='uniVoix' [(ngModel)] = "unitVE">
                <option *ngFor = "let t of uniVoix" [ngValue]="t">
                    {{t}}
                </option>
            </select>
        </p>
        <p>
            <label>Quantité Intra/Extra-opérateur</label>
            <input  class="input" type='number' [(ngModel)] = "qteVoixMixte">
            <select class="input" name='uniVoix' [(ngModel)] = "unitVM">
                <option *ngFor = "let t of uniVoix" [ngValue]="t">
                    {{t}}
                </option>
            </select>
        </p>
        <br>SMS
        <p>
            <label>Nombre Sms Intra-opérateur</label>
            <input  class="input" type='number' [(ngModel)] = "nbSmsI">
        </p>
        <p>
            <label>Nombre Sms Extra-opérateur</label>
            <input  class="input" type='number' [(ngModel)] = "nbSmsE">
        </p>
        <p>
            <label>Nombre Sms Intra/Extra-opérateur</label>
            <input  class="input" type='number' [(ngModel)] = "nbSmsM">
        </p>
        <br>INTERNET
        <p>
            <label>Quantité Internet(Mo)</label>
            <input  class="input" type='number' [(ngModel)] = "qteNet">
            <select class="input" name='siteA' [(ngModel)] = "siteAcces">
                <option *ngFor = "let t of sites" [ngValue]="t">
                    {{t}}
                </option>
            </select>
        </p>
        <p><button class="btn" (click)="creerOffre()">Créer Offre</button></p>
</div>
<app-liste-offre-admin></app-liste-offre-admin>



